In [4]:
import pandas as pd

# Sample text data
text_data = '''
Number of Items = 4
Total Weight = 20
Weights = [9 6 7 5]
Profits = [13  9 15 11]
Values = [35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0]
Run = 30
Average = 35.0
Maximum = 35.0
Minimum = 35.0
Frequency of Highest = 30
Frequency of Lowest = 30
Standard Deviation = 0.0
Time for 30 runs = 19
Sum of Weights for maximum = 18
'''

# Function to parse the text data and convert it to a DataFrame
def parse_text_data(text_data):
    data = {}
    lines = text_data.split('\n')

    for line in lines:
        if line.strip():
            key, value = line.split('=')
            key = key.strip().replace(' ', '_')
            value = value.strip()
            if key!='Weights' and key!='Profits' and key!='Values':
                value= float(value)
            data[key] = [value]

    df = pd.DataFrame(data)
    return df

# Parse the text data
df = parse_text_data(text_data)

In [5]:
df

,Number_of_Items,Total_Weight,Weights,Profits,Values,Run,Average,Maximum,Minimum,Frequency_of_Highest,Frequency_of_Lowest,Standard_Deviation,Time_for_30_runs,Sum_of_Weights_for_maximum
0,4.0,20.0,[9 6 7 5],[13 9 15 11],[35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 35.0 ...,30.0,35.0,35.0,35.0,30.0,30.0,0.0,19.0,18.0

In [ ]:
# Write the DataFrame to an Excel file
excel_file_path = 'output_data.xlsx'
df.to_excel(excel_file_path, index=False)

print(f'Data has been written to {excel_file_path}')

Data has been written to output_data.xlsx

In [9]:
import pandas as pd
import re

# Read the text data from a file
with open('Record.txt', 'r') as file:
    text_data = file.read()

# Split the text into individual data blocks using a separator
data_blocks = re.split('-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-', text_data)

# Function to parse a data block and convert it to a DataFrame
def parse_data_block(data_block):
    data = {}
    lines = data_block.strip().split('\n')

    for line in lines:
        if '=' in line:
            key, value = line.split('=', 1)
            key = key.strip().replace(' ', '_')
            value = value.strip()

            # Convert values to list if they are comma-separated
            if ',' in value:
                value = [float(v) if '.' in v else int(v) for v in value.split(',')]
            else:
                # Convert to float if it's a decimal number
                try:
                    value = float(value) if '.' in value else int(value)
                except ValueError:
                    pass

            data[key] = [value]

    df = pd.DataFrame(data)
    return df

# Parse each data block and concatenate them into a single DataFrame
dfs = [parse_data_block(data_block) for data_block in data_blocks if data_block.strip()]
result_df = pd.concat(dfs, ignore_index=True)

# Write the combined DataFrame to an Excel file
excel_file_path = 'output_data.xlsx'
result_df.to_excel(excel_file_path, index=False)

print(f'Data has been written to {excel_file_path}')

Data has been written to output_data.xlsx